/**
 * @package Helix Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2017 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/

@import 'variables';
@import 'mixins';


body {
    color: @text_color;
}

// Anchor
a{
    color: @major_color;
    &:hover {
        color: darken(@major_color, 10%);
    }
}

// Megamenu
.sp-megamenu-parent {
    >li {
        &.active>a,
        &:hover>a {
            background: @major_color;
        }
    }

    .sp-dropdown {
        li.sp-menu-item {
            >a {
                &:hover {
                    color: @major_color !important;
                }
            }
            &.active>a {
                color: @major_color !important;
            }
        }
    }

}

// Off Canvas
#offcanvas-toggler {
    >i {
        &:hover {
            color: @major_color;
        }
    }
}

//Button
.btn, .sppb-btn {
    &:hover,&:focus{
        background-color: darken(@major_color,10%) !important;
    }
}

// Topbar Social
ul.social-icons {

    >li {

        a {

            &:hover {
                color: @major_color;
            }
        }
    }
}

// Page Title
.sp-page-title {
    background: @major_color;
}

// Body Innerwrapper

.layout-boxed .body-innerwrapper {
    background: @bg_color;
}

// Module
.sp-module {
    ul {
        >li {
            >a {
                color: @text_color;
                &:hover {
                    color: @major_color;
                }
            }
        }
    }

    .latestnews {
        >div {
            >a {
                color: @text_color;
                &:hover {
                    color: @major_color;
                }
            }
        }
    }

    .tagscloud {
        .tag-name {
            &:hover {
                background: @major_color;
            }
        }
    }
}

// sp Simple Portfolio
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
    background: @major_color;
}

// Search
.search {
    .btn-toolbar {
        button {
            background: @major_color;
        }
    }
}


// Blog
.post-format {
    background: @major_color;
}

.voting-symbol{
    span.star.active:before{
        color: @major_color;
    }
}

.sp-rating {
    span.star:hover:before,
        span.star:hover ~ span.star:before {
        color: darken(@major_color, 10%);
    }
}

.entry-link,
.entry-quote {
    background: @major_color;
}

blockquote {
    border-color: @major_color;
}

.carousel-left,
.carousel-right {

    &:hover {
        background: @major_color;
    }
}

// Footer
#sp-footer {
    background: @major_color;
}

// Pagination
.pagination>li>a,
.pagination>li>span {
    color: @text_color;
    &:hover,
        &:focus {
        color: @text_color;
    }
}

.pagination>.active>a,
.pagination>.active>span {
    border-color: @major_color;
    background-color: @major_color;
    &:hover,
        &:focus {
        border-color: @major_color;
        background-color: @major_color;
    }
}



// **************** **************** ************** **************** **************** //
// **************** ****************  Shaper Floox  **************** **************** //
// **************** **************** ************** **************** **************** //
body{
    background-color: @bg_color;
}

.major-color,
.sp-my-account ul.nav > li > a:hover,
.btn.btn-default,
.sppb-btn.btn-default,
.btn.sppb-btn-default,
.sppb-btn.sppb-btn-default,
.sppb-addon-accordion .sppb-addon-content .sppb-panel-group .sppb-panel-heading .sppb-toggle-direction,
.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .customNavigation a:hover,
.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .customNavigation a:focus,
.simple-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-magnific-popup.sppb-modal-selector i,
.sppb-addon-header.title-line-after:after,
.sppb-addon-header.title-line-before:before,
.sppb-addon-feature:hover .sppb-icon i ,
.sppb-testimonial-pro-advanced .sppb-carousel-control:hover,
.sppb-testimonial-pro-advanced .sppb-carousel-control:focus,
.sppb-addon-tab .sppb-tab .sppb-nav-tabs li.active a,
.sppb-addon-pricing-table .sppb-pricing-box .sppb-pricing-price-container .sppb-pricing-price,
.reset .form-validate .form-group button,
.icon-top-wrapper:hover i,
article.item-page .tags a:hover,
article.item-page .pager.pagenav li a:hover,
article.item-page .pager.pagenav li a:focus,
article.item-page .pager.pagenav li a:hover span,
article.item-page .pager.pagenav li a:focus span,
.view-article .author-info .author-social-link li a:hover,
#sp-left .sp-module ul.mostread li .category-tag a:hover,
#sp-right .sp-module ul.mostread li .category-tag a:hover,
#sp-left .sp-module ul.mostread li .category-tag a:focus,
#sp-right .sp-module ul.mostread li .category-tag a:focus,
#sp-left .sp-module ul.mostread li a:hover,
#sp-right .sp-module ul.mostread li a:hover,
#sp-left .sp-module ul.mostread li a:focus,
#sp-right .sp-module ul.mostread li a:focus,
#sp-left .sp-module .acymailing_module_form p.acysubbuttons:after,
#sp-right .sp-module .acymailing_module_form p.acysubbuttons:after,
.pagination-wrapper ul.pagination li span:hover,
.pagination-wrapper ul.pagination li a:hover,
.pagination-wrapper ul.pagination li span:focus,
.pagination-wrapper ul.pagination li a:focus,
.pagination-wrapper ul.pagination li.active a,
.blog-variation-2 article.item .article-info-wrap:hover .entry-header h2 a:hover,
.blog-variation-2 article.item .article-info-wrap:hover .entry-header h2 a:focus,
body.header-transparent-black .icon-top-wrapper i:hover,
.sppb-section.title-line-before .sppb-section-title:before,
.sppb-section.title-line-after:after,
.service-page-modal .sppb-magnific-popup.sppb-modal-selector i,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-filter ul li a:hover,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-filter ul li.active a,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info:after,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info-wrap:after,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info .sp-simpleportfolio-title a:hover,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info-wrap .sp-simpleportfolio-title a:hover,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info .sp-simpleportfolio-title a:focus,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info-wrap .sp-simpleportfolio-title a:focus,
.contact-form-section .sppb-addon-raw-html ul li span.single-text,
.sp-simpleportfolio.sp-simpleportfolio-view-item .sp-simpleportfolio-description .sp-simpleportfolio-title-wrap:before,
#sp-bottom .sp-module ul li a:hover,
#sp-bottom .sp-module ul li a:focus,
#sp-bottom .sppb-addon-text-block .bottom-address span.floox-title,
#sp-bottom .sppb-addon-social-media .social-media-text-wrap a:hover,
#sp-bottom .sppb-addon-social-media .social-media-text-wrap a:focus,
#sp-footer #sp-footer2 p a,
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner .sp-module .sp-module-content a:hover,
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner .sp-module .sp-module-content a:focus,
.sp-comingsoon .social-icons li a:hover,
.copyright p a,
.error-page .error-message:before,
.sppb-addon-animated-number .sppb-animated-number{
    color: @major_color;
}
.sppb-addon-animated-number:hover{
    background: @major_color;
}

.major-gradient,
.sppb-carousel.milestone-slider .sppb-carousel-pro-text .about-company:before,
.sppb-carousel.milestone-slider .sppb-carousel-indicators li.active,
.portfolio-modal-popup .sppb-modal-selector i,
.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-magnific-popup.sppb-modal-selector i,
.simple-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg::after,
.sppb-addon-gallery .sppb-gallery li a:before,
.sppb-addon-articles .sppb-addon-article .sppb-addon-article-bgimage:before,
.sppb-addon-persion .sppb-addon-content .sppb-person-image:before,
article.item .article-info-wrap .article-info-bg:before,
.blog-variation-2 article.item .entry-image.intro-image > a:after,
.home-portfolio-modal .sppb-magnific-popup i,
.home-portfolio-project-section .sppb-addon-header.title-line-before:before,
.home-portfolio-project-section .sppb-addon-header.title-line-before:after,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-overlay,
.classic-hero-section .sppb-modal-selector.sppb-magnific-popup:before{
    -webkit-background-image: linear-gradient(-180deg, @gradient_top_color 0%, @gradient_bottom_color 100%);
    -moz-background-image: linear-gradient(-180deg, @gradient_top_color 0%, @gradient_bottom_color 100%);
    -ms-background-image: linear-gradient(-180deg, @gradient_top_color 0%, @gradient_bottom_color 100%);
    background-image: linear-gradient(-180deg, @gradient_top_color 0%, @gradient_bottom_color 100%);
}
.home-portfolio-modal .sppb-magnific-popup:hover i,
.portfolio-modal-popup .sppb-modal-selector:hover,
.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-magnific-popup.sppb-modal-selector:hover i{
    -webkit-background-image: linear-gradient(-180deg, darken(@gradient_top_color,10%) 0%, @gradient_bottom_color 100%);
    -moz-background-image: linear-gradient(-180deg, darken(@gradient_top_color,10%) 0%, @gradient_bottom_color 100%);
    -ms-background-image: linear-gradient(-180deg, darken(@gradient_top_color,10%) 0%, @gradient_bottom_color 100%);
    background-image: linear-gradient(-180deg, darken(@gradient_top_color,10%) 0%, @gradient_bottom_color 100%);
}


.major-bgcolor,
.btn.btn-primary,
.sppb-btn.btn-primary,
.btn.sppb-btn-primary,
.sppb-btn.sppb-btn-primary,
.sp-megamenu-parent > li.active > a,
.sp-megamenu-parent > li:hover > a,
.sp-select ul > li.active,
.sp-select ul > li:hover,
.sppb-addon-feature:hover:after,
.sppb-progress-wrap .sppb-progress .sppb-progress-bar,
.com-users.view-login .logout .btn.btn-primary,
.service-feature-section .sppb-addon-feature:hover:after,
.sppb-btn-info.sppb-btn-outline:hover, .sppb-btn-info.sppb-btn-outline:focus,
.sppb-btn-info.sppb-btn-outline:active, .sppb-btn-info.sppb-btn-outline.active, .open > .dropdown-toggle.sppb-btn-info.sppb-btn-outline{
    background-color: @major_color;
}

.floox-home-cta,
.sppb-addon-accordion .sppb-addon-content .sppb-panel-group .sppb-panel-heading.active,
.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .owl-carousel .owl-controls .owl-dots .owl-dot.active span,
.sppb-addon-articles .sppb-btn.sppb-btn-default,
article.item .article-info-wrap .readmore a ,
article.item-page .sppb-carousel .sppb-carousel-arrow i:hover,
article.item-page .sppb-carousel .sppb-carousel-arrow i:focus,
.helix-social-share .helix-social-share-icon ul li div a:hover,
.helix-social-share .helix-social-share-icon ul li div a:focus,
#sp-left .sp-module .sp-module-title:before,
#sp-right .sp-module .sp-module-title:before,
#sp-left .sp-module .acymailing_module_form,
#sp-right .sp-module .acymailing_module_form,
.blog-variation-2 article.item .article-info-wrap:hover .category-name a:hover,
.blog-variation-2 article.item .article-info-wrap:hover .category-name a:focus,
#sp-bottom .acymailing_module_form .acysubbuttons input{
    background: @major_color;
}

.sppb-addon-tab .sppb-tab .sppb-nav-tabs li.active a,
.com-users .reg-login-form-wrap .registration .form-group .btn-primary.btn-block,
.com-users .reg-login-form-wrap .login .form-group .btn-primary.btn-block ,
.com-users .reg-login-form-wrap .registration .form-validate .form-group .btn.btn-primary,
.reset .form-validate .form-group button,
article.item-page .sppb-carousel .sppb-carousel-arrow i:hover,
article.item-page .sppb-carousel .sppb-carousel-arrow i:focus,
article.item-page .tags a:hover,
.sppb-btn-info.sppb-btn-outline:hover, .sppb-btn-info.sppb-btn-outline:focus,
.sppb-btn-info.sppb-btn-outline:active, .sppb-btn-info.sppb-btn-outline.active, .open > .dropdown-toggle.sppb-btn-info.sppb-btn-outline{
    border-color: @major_color;
}

.top-search-input-wrap .search-wrap .search.floox-top-search input {
    border-bottom-color: @major_color;
}

.com-search.view-search .search-results-wrap .result-title:hover,
.com-search.view-search .search-results-wrap .result-title a:hover{
    color: @major_color;
}