/* General- start */

body {
  font-family: montserrat;
  font-weight: 400;
  font-size: 16px;
  color: #335E79;
}

.section {
  padding: 80px 0;
}

.section.section-no-bottom-space {
  padding-bottom: 0;
}

.gray-section {
  background-color: #EBEFF3;
}

.center-block {
  text-align: center;
}

.shadow-box {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.shadow-box:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

strong {
  font-weight: 500;
}

a {
  color: #FF5A00;
  transition: all 0.3s ease;
}

a.cta-simple {
  font-size: 20px;
  margin-top: 30px;
  display: inline-block;
  padding-right: 30px !important;
  /* background-image: url("../../assets/img/cta-arrow.svg"); */
  background-repeat: no-repeat;
  background-position: right center;
  transition: all 0.3s ease;
}

a.cta-simple:hover {
  padding-right: 35px !important;
}

a:hover {
  color: #ff6600 !important;
  text-decoration: none;
}

a.cta-orange {
  padding: 15px 25px;
  background: linear-gradient(90deg, #FF5A00 0%, #FDA61A 100%);
  border-radius: 50px;
  display: inline-block;
  margin: 1em 0;
  color: #ffffff;
  transition: all 0.3s ease;
}

a.cta-orange:hover {
  padding: 15px 30px;
  color: #ffffff !important;
}

a.cta-white {
  padding: 15px 25px;
  border-radius: 50px;
  background-color: #ffffff;
  display: inline-block;
  margin: 1em 0;
  color: #FF5A00 !important;
  transition: all 0.3s ease;
}

a.cta-white:hover {
  padding: 15px 30px;
  color: #FF5A00 !important;
}

a.cta-orange-outline {
  padding: 15px 25px;
  background: none;
  border-radius: 50px;
  display: inline-block;
  margin: 1em 0;
  color: #09334E;
  transition: all 0.3s ease;
  border: 2px solid #FF5A00;
}

a.cta-orange-outline:hover {
  color: #09334E !important;
  padding: 15px 30px;
}

a.cta-small {
  padding: 10px 20px;
  margin: 0.5em 0;
}

a.cta-small:hover {
  padding: 10px 25px;
}

h1 {
  font-size: 50px;
  font-weight: 400;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  color: #09334E;
}

h3 {
  font-size: 34px;
  font-weight: 400;
  color: #09334E;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  color: #09334E;
}

p.big-paragraph {
  font-size: 30px;
  font-weight: 400;
}

.section h2 {
  text-align: center;
  /* background-image: url("../../assets/img/title2-underline.svg"); */
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 15px;
  margin-bottom: 60px;
}

.section-inner {
  width: auto;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

.dark-section p, .dark-section h1, .dark-section h2, .dark-section h3, .dark-section h4, .dark-section a, .dark-section span {
  color: #ffffff;
}

.blue-gradient {
  background: linear-gradient(0deg, #3DB9C3 0%, #012348 100%);
}

.orange-gradient {
  background: linear-gradient(90deg, #FF5A00 0%, #FDA61A 100%);
}

.grid-column {
  height: 100%;
  background-color: #ffffff;
}

.grid-column-3 {
  padding: 3em;
}

.grid-column-1 {
  padding: 3em;
}

.grid-column-4 {
  padding: 2em;
  margin: 0 0.3em;
}

.grid-column-no-border {
  padding: 0 2em;
}

.grid-column h3 {
  color: #FF5A00;
}

.grid-column p {
  font-size: 20px;
}

.grid-column.updates-grid-column p {
  font-size: 18px;
}

.grid-column img {
  max-width: 150px;
  padding-bottom: 20px;
}

/* General - end */

/* Header - start */

.header-section {
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
}

.menu-top {
  border-bottom: 1px solid #EBEFF3;
  height: 40px;
  padding: 10px 0 0 0;
  font-size: 12px;
}

.menu-top a {
  color: #335E79;
  margin-left: 25px;
}

.menu-top-items {
  text-align: right;
}

.menu-top-language {
  padding-left: 0;
}

.menu-top-items {
  padding-right: 0;
}

.menu-top-language img {
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
  margin-right: 8px;
}

.logo-header {
  width: 200px;
  height: auto;
  margin-right: 60px;
}

.menu-main {
  padding: 15px 0;
}

.menu-main-logo-items {
  padding: 0;
}

.menu-main a {
  color: #335E79;
  font-size: 17px;
  margin-right: 30px;
}

.icon-search {
  float: right;
  margin-top: 12px;
}

/* Header - end */

/* Menu - start */

.mega-menu {
  background-color: #EBEFF3;
  background: linear-gradient(90deg, #042A53 0%, #042A53 50%, #EBEFF3 51%, #EBEFF3 100%);
}

.mega-menu .section-inner {
  overflow: visible;
}

.mega-menu-left, .mega-menu-right {
  padding: 40px 40px;
}

.mega-menu-left {
  background-color: #042A53;
}

.mega-menu-right {
  background-color: #EBEFF3;
}

.menu-icon {
  max-width: 100%;
  width: 120px;
}

p.menu-title-1 {
  color: #ff5A00;
  font-size: 18px;
  margin-top: 30px;
}

p.menu-title-2 {
  color: #ff5A00;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #BCCBD8;
}

p.menu-title-2 a {
  color: #ff5A00;
  font-size: 16px;
}

a.menu-title-3 {
  font-size: 15px !important;
  font-weight: 500;
  padding-bottom: 12px;
  margin-top: 15px;
}

p.menu-title-4 {
  color: #012348;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 2px solid #BCCBD8;
  font-weight: 500;
}

p.menu-title-4 a {
  color: #012348;
  font-size: 18px;
}

p.menu-description {
  font-size: 14px;
}

.menu-item-column a {
  font-size: 14px;
  color: #335E79;
  display: block;
  padding-bottom: 5px;
}

.menu-cta-inner {
}

.menu-item-column {
  margin-bottom: 30px;
}

.menu-cta-wrapper .menu-cta-inner {
  padding-top: 30px;
  border-top: 1px solid #BCCBD8;
}

a.activate-menu {
  display: inline-table;
  margin-bottom: -20px;
}

.activate-menu:after {
  content: "";
  height: 4px;
  background: linear-gradient(90deg,#FF5A00,#FDA61A);
  width: 100%;
  position: relative;
  bottom: -8px;
  left: 0;
  display: inline-block;
}

/* Menu - end */

/* Herobanner - start */

.herobanner-section {
  min-height: 500px;
  padding: 180px 0;
  /* background-image: url("../../assets/img/bg-hero.jpg"); */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-subtitle {
  font-size: 22px;
  font-weight: 300;
}

/* Herobanner - end */

/* Solutions - start */

.fullwidth-orange-block {
  background: linear-gradient(90deg, #FF5A00 0%, #FDA61A 100%);
  padding: 200px 0 80px 0;
  margin-top: -100px;
}

.carousel-slider h3 {
  color: #FF5A00;
}

.carousel-slider-text {
  padding: 80px 50px;
  background-color: #ffffff;
}

.carousel-slider-image {
  /* background-image: url("../../assets/img/carousel-image-1.jpg"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}

.carousel-arrow {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 60px;
  padding-top: 16px;
  background-color: #ffffff;
  cursor: pointer;
}

.carousel-arrow.carousel-arrow-outline {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.carousel-arrow-left {
  position: absolute;
  right: -30px;
  top: 50%;
  margin-top: -30px;
  z-index: 100;
}

.carousel-arrow-right {
  position: absolute;
  left: -30px;
  top: 50%;
  margin-top: -30px;
  z-index: 100;
}

.carousel-slider-indicator {
  padding-top: 40px;
}

.carousel-slider-indicator div {
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 0 8px;
  display: inline-block;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.carousel-slider-indicator div.activate-slide, .carousel-slider-indicator div:hover {
  background: linear-gradient(90deg, #FF5A00 0%, #FDA61A 100%);
}

/* Solutions - end */

/* Updates - start */

.news-date {
  font-size: 16px !important;
  color: #859EAF;
}

.grid-column-4.updates-grid-column {
  padding: 0 0 70px 0;
}

.grid-column-4.updates-grid-column p, .grid-column-4.updates-grid-column a {
  padding-left: 30px;
  padding-right: 30px;
}

.updates-grid-column img {
  max-width: 100%;
  width: 100%;
  margin-bottom: 15px;
}

.updates-grid-column .cta-simple {
  position: absolute;
  bottom: 40px;
}

/* Updates - end */

/* Customer - start */

.quote-icon-up img {
  position: absolute;
  right: 15px;
  top: -30px;
}

.quote-icon-down img {
  position: absolute;
  bottom: 0;
  left: 15px;
}

.customer-quote-text img {
  max-width: 200px;
  margin-top: 20px;
}

/* Customer - end */

/* Resources - start */

.resource-wrapper .grid-column {
  padding: 3em;
}

.resource-wrapper .grid-column img {
  max-width: 40px;
  padding-bottom: 0;
}

.resource-wrapper .grid-column h4 {
  display: inline-block;
  padding-left: 15px;
  padding-bottom: 50px;
}

.resource-wrapper .grid-wrapper {
  margin-bottom: 30px;
}

.resource-grid-column-orange {
  background: linear-gradient(90deg, #FF5A00 0%, #FDA61A 100%);
}

.resource-grid-column-orange h3, .resource-grid-column-dark h3 {
  color: #ffffff;
}

.resource-grid-column-orange img, .resource-grid-column-dark img {
  filter: brightness(0) invert(1);
}

.resource-grid-column-gray {
  background-color: #EBEFF3;
}

.resource-grid-column-gray h3 {
  color: #09334E;
}

.resource-grid-column-dark {
  /* background-image: url("../../assets/img/bg-resource.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Resources - end */

/* Contact - start */

.section-contact.section {
  padding-top: 0;
  padding-bottom: 0;
  /* background-image: url("../../assets/img/bg-dark-blue.svg"); */
  background-repeat: repeat-x;
  background-position: bottom;
}

.section-contact .grid-column-1 {
  padding: 3.5em 3em 3em 3em;
}

/* Contact - end */

/* Footer - start */

.footer {
  background-color: #012348;
  padding-bottom: 0;
}

.footer-bottom {
  border-top: 1px solid #335E79;
  padding: 40px 0;
  margin-top: 80px;
}

.logo-footer {
  max-width: 150px;
  margin-right: 50px;
}

.footer .social-media-wrapper {
  text-align: right;
  padding-top: 15px;
}

.social-media-wrapper img {
  max-width: 40px;
  margin-left: 10px;
}

.footer-bottom-link {
  padding-top: 15px;
  font-size: 12px;
}

.footer-bottom-link a {
  padding: 15px;
}

.footer-menu h4 {
  padding-bottom: 25px;
  border-bottom: 1px solid #09334E;
  margin-bottom: 25px;
}

.footer-menu a {
  display: block;
}

.footer-menu .footer-menu-items {
  margin-top: 30px;
  font-size: 14px;
}

.footer-menu .footer-menu-items.footer-menu-items-first {
  margin-top: 0;
}

.footer-menu .footer-menu-items-submenu {
  font-size: 12px;
  color: #859EAF;
  margin-top: 10px;
}

/* Footer - end */

/* Responsive - start */

@media (max-width: 1199px) {
  .updates-section .col-lg-6 {
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .col-lg-4 {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .footer-bottom-link, .social-media-wrapper {
    text-align: center !important;
  }
}

@media (max-width: 768px) {
  .footer-bottom-link .logo-footer {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .herobanner-section {
    text-align: center;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 3em;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 2em;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 1.6em;
  }
}

@media (max-width: 991px) {
  .solution-slider .carousel-arrow {
    display: none;
  }

  .mega-menu {
    background-color: #042A53;
    background: #042A53;
    padding-top: 20px;
  }

  .mega-menu-left {
    display: none;
  }

  .mega-menu-right {
    background-color: #012348;
    margin-left: 15px;
    margin-right: 15px;
  }
}

p.menu-title-4 {
  border-bottom: 2px solid #BCCBD8;
}

p.menu-title-4 a {
  color: #012348;
  font-size: 18px;
}

@media (min-width: 992px) {
  .responsive-menu-1, .icon-close-menu, .menu-top-items-responsive, .menu-top-language-responsive {
    display: none !important;
  }
}

@media (max-width: 991px) {
      .menu-top-language-responsive {
        display: block;
        padding: 20px 0px;
        border-bottom: 1px solid #335E79;
        color: #ffffff;
      }

      .icon-search {
        margin-top: 0px;
      }

      .icon-language-responsive {
        margin-right: 10px;
      }

      .menu-top-items-responsive {
        padding: 20px 0 0 0;
      }

      .menu-top-items-responsive a {
        display: block;
        color: #859EAF;
        font-weight: 300;
        font-size: 14px;
        padding: 8px 0;
      }

      .responsive-menu-1 {
        display: block !important;
        padding: 20px 0px;
        color: #ffffff;
        font-size: 18px !important;
        font-weight: 300;
        border-bottom: 1px solid #335E79;
      }

      .responsive-menu-1.activate-menu {
        border-top: none;
        color: #ffffff;
        font-weight: 500;
      }

      p.menu-title-2 {
        border-bottom: 1px solid #335E79;
      }

      .menu-item-column a {
        color: #ffffff;
      }

      p.menu-title-2 {
        border-bottom: 1px solid #335E79;
      }

      .menu-cta-wrapper .menu-cta-inner {
        border-top: 1px solid #335E79;
      }

      .mega-menu-inside-right {
        margin-top: 50px;
      }

      p.menu-title-4 a {
        color: #ffffff;
        margin-top: 0px;
      }

      p.menu-title-2 {
      }

      .menu-main-logo-items a, .menu-main-logo-items .icon-search, .menu-top {
        display: none;
      }

      .icon-close-menu {
        display: inline-block!important;
        float: right;
        margin-top: 10px;
        width: 25px;
      }

      .responsive-menu-1.sub-menu {
        background-image: url("../../assets/img/icon-submenu.svg");
        background-repeat: no-repeat;
        background-position: right center;
      }
      
      
      .responsive-menu-1.sub-menu.activate-menu {
        background-image: url("../../assets/img/icon-submenu-close.svg");
        background-repeat: no-repeat;
        background-position: right 26px;
      }

      .responsive-menu-btn{
        float: right;
        width: 20px;
        cursor: pointer;
      }

      .mega-menu-solutions .menu-content {
        display: none;
      }
      .mega-menu-solutions .menu-content.activate-menu {
        display:block;
      }
      .mega-menu-products .menu-content {
        display: none;
      }
      .mega-menu-products .menu-content.activate-menu {
        display:block;
      }
      .mega-menu-company .menu-content {
        display: none;
      }
      .mega-menu-company .menu-content.activate-menu {
        display:block;
      }
      .mega-menu-company {
        padding-bottom: 60px;
      }



      .responsive-content {
        display: none;
      }

      .responsive-content.active {
        display: block;
      }
}



@media (max-width: 767px) {
  .customer-quote-slider .carousel-arrow {
    display: none;
  }
}

@media (max-width: 767px) {
  .col-sm-12.quote-icon-up img, .col-sm-12.quote-icon-down img {
    position: relative;
  }
}

@media (max-width: 768px) {
  .col-sm-12.quote-icon-up {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .col-sm-12.quote-icon-down {
    display: none;
  }
}

@media (max-width: 767px) {
  .resource-wrapper .grid-wrapper {
    margin-bottom: 0px;
  }
}

/* Responsive - end */








.sp-dropdown-main {
  /* display: none!important; */
  display:none;
}

.mega-menu-hidden {
  display: none;
}
/* #sp-top-bar{
  display: block;
} */
@media (max-width: 991px) {
  .mega-menu-hidden {
    display: block;
  }
  /* #sp-top-bar{
    display: none!important;
  } */
}

body.header-default #sp-header {
  position: relative!important;
}